/* From https://github.com/cannibalox/logseq-custom-files */
/* logseq table resizer v20220331 ======================= */
/* add rules to custom.css =============================== */
        .table th {
            position: relative;
        }
        .query-table-resizer {
            position: relative;
            top: -20px;
            float: right;
            margin-bottom: -18px;
            cursor: col-resize;
            user-select: none;
            border-right: 1px solid var(--ls-border-color);
            width: 10px; /* hitbox width */
            height: 20px; 
        }

        .query-table-resizer:active,
        .query-table-resizing {
            border-right: 2px solid rgb(255, 0, 0);
        }

        .custom-query table.table-auto {
            width: -webkit-fill-available;
            table-layout: fixed;
        }
        .custom-query .table-auto>thead>tr>th {
            border-bottom: 1px solid var(--ls-border-color);
        }
        .custom-query .table-auto>thead>tr>th {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 3px 6px;
        }
        .custom-query .table-auto>tbody>tr>td.whitespace-nowrap {
            overflow-wrap: break-word;
            min-width: 20px;
            white-space: normal;
            font-weight: 300;
            font-size: 13px;
        }
        .custom-query .table-auto>tbody>tr>.whitespace-nowrap img {
            max-height: 120px;
            margin: 0;
        }
/* ==================================== end of table resizer */

/* For plugin: Awesome content*/
/* https://github.com/yoyurec/logseq-awesome-content */
:root {
    --awCo-marker-waiting: ...!important;
    --awCo-marker-later: ...!important;
    --awCo-marker-todo: ...!important;
    --awCo-marker-now-doing: ...!important;
    --awCo-marker-done: ...!important;

    --awCo-priority-a: ...!important;
    --awCo-priority-b: ...!important;
    --awCo-priority-c: ...!important;
}

/* For plugin: automatic url title */
/* https://github.com/borutmrak/logseq-plugin-automatic-url-title/tree/main */
:root {
  --favicons: none;
}

/* Thumbnail images */
/* https://discuss.logseq.com/t/default-images-and-videos-to-a-thumbnail-size/15273 */
.asset-container > img {
  max-height: 128px;
  width: auto;
}

/* Custom bullet icon */
.ls-block>.flex.flex-row.pr-2 .bullet-container .bullet:before {
    content: "\269d" !important;
    font-family: 'tabler-icons';
    color: var(--awSt-content-text-user, var(--ls-primary-text-color));
    background-color: var(--awSt-content-bg-user, var(--ls-primary-background-color));
    border-radius: 100%;
    position: relative;
    top: -10px; /* Negative values moves bullet up*/
    left: -6px; /* Negative values moves bullet left*/
    letter-spacing: 1px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 1px;
}
